body {
    background-color: rgb(163, 182, 188);
    font-family: 'Inconsolata', monospace;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  h1{
    text-align: center;
    color: rgb(131, 5, 93);
  }

  #navigation{
    position:-webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
  }